body{
    margin: 0;
    font-family: "proxima-nova", sans-serif;
    background-color: #121212;
    color: white;
}

header{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: #202020;
    margin-bottom: 30px;
    box-shadow: 0px 3px 18px black;
}

.header-content p{
    text-align: center;
    margin-top: 0px;
    width: 90%;
    margin: auto;
    margin-bottom: 20px !important;
}

header h1{
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
}

header #like{
    color: #00b8a2;
    margin-top: 10px;
}

header #dislike{
    color: #dd5c74;
    margin-top: 10px;
}

.site-title{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.movie-title{
    color: white;
    font-weight: 600;
    font-size: 24px;
    font-family: "proxima-nova-condensed", sans-serif;
    margin: 0px;
    margin-top: 15px;
}

.movie img{
    width: 250px;
    object-fit: cover;
}

.movie{
    width: 300px;
    margin: auto ;
    display: block;
    text-align: center;
    overflow: hidden;
    margin-top: 35px;
    margin-bottom: 35px ;
    border-radius: 10px;
    background-color: #202020;
    padding: 25px 0px;
}

.votes-container{
    display: flex;
    justify-content: space-evenly;
    height: 55px;
}

.likes, .dislikes{
    display: flex;
    align-items: center;
}

.fa-solid{
    font-size: 34px;
}

a{
    color: white;
}

.likes a:focus{
    color: #00b8a2;
    transition: .2s;
}

.dislikes a:focus{
    color: #dd5c74;
    transition: .2s;
}

.likes a, .dislikes a{
    margin-left: 10px;
}

.total-votes{
    font-family: "proxima-nova-condensed", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 14px;
    margin: 5px 0px;
    color: rgb(148, 148, 148);
}


/* Web size */
@media (min-width: 1224px){

.header-content p{
    width: 100%;
}

.movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 85%;
    margin: 0 auto;
}

.movie{
    flex: 0 0 31%;
    max-width: 320px;
    min-width: 300px;
    margin: 15px 15px;
}

.movie img{
    width: 230px;
    height: 340px;
    object-fit: cover;
}

}


/* Tablet size */
@media (min-width: 700px) and (max-width: 1223px) {

.header-content p{
    width: 85%;
    margin: auto;
}

.movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 85%;
    margin: 0 auto;
}

.movie{
    flex: 0 0 60%;
    max-width: 320px;
    margin: 15px 15px;
}

.movie img{
    width: 255px;
    height: 378px;
    object-fit: cover;
}

}